body {
    background-color: rgb(22, 22, 22);
}
#Linker {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    text-align: right;
    padding: 0px 0;
}

a {
    font-size: 17px;
    margin: 25px;
    color: #E852FF;
    text-decoration: none;
    position: relative;
    transition: 0.25s ease;
}
h4{
    font-size: 17px;
}
span{
    color: #E852FF;
}
a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px; /* Thickness of the underline */
    background-color: #E852FF; /* Color of the underline */
    bottom: -5px; /* Position the underline slightly below the text */
    left: 0;
    transition: width 0.3s ease-in-out; /* Animation duration and timing function */
}

a:hover::after {
    width: 100%; /* Full width of the parent element */
}

#Introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: rgb(197, 197, 197);
}

h1 {
    color: #E852FF;
}

#stuff {
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
}

.Images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.Item {
    width: 100%;
    max-width: 100%;
    height: auto;
    outline: 3px solid #E852FF;
    border-radius: 5px;
}

#key-features,#Suggestions,#Rating {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center; /* Center horizontally within the grid */
    text-align: center;       /* Center text content horizontally */
    margin-top: 20px;         /* Adjust as needed for spacing */
    color: rgb(197, 197, 197); /* Example color for text */
}
#images2{
    width: 800px;
    margin-left: 350px;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
    width: 9px;  /* width of the vertical scrollbar */
    height: 40px; /* height of the horizontal scrollbar */
}

/* Customize the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #E852FF; /* color of the scrollbar thumb */
    border-radius: 5px; /* roundness of the scrollbar thumb */
}

/* Customize the background of the scrollbar */
::-webkit-scrollbar-track {
    background: #232323; /* color of the scrollbar track */
}

/* Customize the part of the track not covered by the handle */
::-webkit-scrollbar-track-piece {
    background: none;
}

/* Customize the bottom corner of the scrollbar where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
    background: #0f0f0f;
}

/* Customize the draggable resizer at the bottom corner of some scrollable elements */
::-webkit-resizer {
    background: rgb(0, 0, 0);
}
